.gallery {
  .border::before {
    @include border;
    left: -80px;
    top: 7px;
  }

  &__top-text {
    position: relative;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-left: 80px;
    margin-bottom: 71px;

    @include tablet {
      margin-bottom: 44px;
    }
  }

  &__list {
    display: flex;
    // flex-direction: column;
    gap: var(--gap);
    flex-wrap: wrap;
  }

  &__content {
    // width: 690px;
    // gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // align-items: center;
  }
}
