.header {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 1;

  @include tablet {
    padding-top: 32px;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    align-items: start;
  }

  @include desktop {
    margin: 0 auto;
  }
}

.logo {
  fill: var(--text-color-light);
  &:hover,
  &:focus {
    fill: #ff6c00;
  }

  @include tablet {
    fill: var(--text-color-dark);
  }
}

.menu-open {
  border: none;
  background-color: transparent;
  fill: var(--text-color-light);
  &:hover,
  &:focus {
    fill: #ff6c00;
  }

  @include tablet {
    display: none;
  }
}

.hero__content {
  position: relative;
}
