.header {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  fill: var(--text-color-light);
  &:hover,
  &:focus {
    fill: #ff6c00;
  }
}

.menu-open {
  border: none;
  background-color: transparent;
  fill: var(--text-color-light);
  &:hover,
  &:focus {
    fill: #ff6c00;
  }
}

.hero__content {
  position: relative;
}
