.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(25, 28, 38, 0.2);
  transition: opacity 500ms, visibility 500ms;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition: opacity 500ms, visibility 500ms;
  }

  .nav-container.is-hidden .nav {
    transform: translate(-50%, -50%) scale(0);
  }

  @include tablet {
    position: static;
    background: none;
    &.is-hidden {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.menu-close {
  background-color: var(--text-color-light);
  border: none;
  margin-bottom: 30px;
  margin-left: auto;
  &:hover,
  &:focus {
    fill: var(--acent-color);
  }

  @include tablet {
    display: none;
  }
}

.nav-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 68%;

  @include tablet {
    flex-direction: row;
    height: 100%;
    justify-content: end;
  }
}

.nav {
  position: fixed;
  background-color: var(--text-color-light);
  width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 5;
  opacity: 1;
  padding: 48px 40px;

  transition: opacity 500ms;

  display: flex;
  flex-direction: column;

  @include tablet {
    position: static;
    width: 100%;
    background-color: transparent;
    padding: 0;
  }

  &__menu {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.389;
    letter-spacing: 0.1em;
    color: var(--text-color-dark);

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      color: var(--text-color-light);
      margin-left: 51px;
    }
  }

  &__menu-item {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 0;
      padding-top: 20px;
    }
  }

  &__menu-link {
    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }

  &__connect {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.389;
    letter-spacing: 0.1em;
    color: var(--text-color-dark);

    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: column-reverse;
      margin: 0;
      margin-left: auto;
      margin-top: 8px;
      gap: 20px;
    }
  }

  &__connect-tel {
    margin-bottom: 24px;
    &:hover,
    &:focus {
      color: var(--acent-color);
    }

    @media screen and (max-width: 479px) {
      font-size: 14px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
      color: var(--text-color-light);
      margin-bottom: 0;
    }
  }

  &__connect-btn {
    @include button;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 24px;
    margin-right: auto;

    &:hover,
    &:focus {
      background-color: var(--acent-color);
      color: var(--text-color-light);
    }

    @include tablet {
      background-color: var(--acent-color);
      background-color: inherit;
      color: var(--text-color-light);
      margin-bottom: 0;
    }
  }

  &__soc {
    @include tablet {
      display: none;
    }
  }

  &__soc-list {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.357;
    color: var(--text-color-dark);
    margin-left: 80px;

    @include mobile {
      margin-left: 100px;
    }
  }

  &__soc-item {
    margin-bottom: 24px;
    position: relative;

    > .border::before {
      @include border;
      left: -80px;

      @include mobile {
        left: -100px;
        top: 10px;
      }
    }
  }

  &__soc-link {
    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }
}
