.prices {
  background: #111319;
  background-image: url(../images/mob/bg-servises-mob-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    background-image: url(../images/tab/bg-servises-tab-min.png);
  }

  &__top-text {
    position: relative;
    margin-left: 80px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
  }

  .border::before {
    @include border;
    background: rgba(157, 164, 189, 0.6);
    top: 7px;
    left: -80px;
  }

  &__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.05em;
    color: var(--text-color-light);
    margin-bottom: 44px;

    @include tablet {
      font-size: 42px;
      line-height: 1.167;
    }

    @include desktop {
    }
  }

  &__wrap {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    margin-bottom: 44px;
    padding: 30px 20px 30px 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      padding: 32px 40px;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include desktop {
      background: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
      width: 570px;
      padding: 30px 22px 30px 20px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    line-height: 1.429;
    color: var(--text-color-gray);
    align-items: baseline;
    gap: 4px;
    flex-grow: 1;

    > span {
      width: auto;
      border-bottom: 1px solid rgba(157, 164, 189, 0.12);
      flex-grow: 2;
    }
  }

  &__item-text {
    display: block;
    font-size: 14px;

    @include tablet {
      font-size: 18px;
      line-height: 1.667;
    }
  }

  &__btn {
    @include button;
    color: var(--text-color-light);
    background-color: transparent;
    margin: 0 auto;
  }
}

.prices-container {
  display: flex;
  flex-direction: column;
}

.left-text {
  text-align: right;
}
